/* General Styles */
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}


#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #206A01;
    width: 100%;
    padding: 20px 0;
}

#headerTitle {
    display: flex;
    align-items: center;
}

#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    color: white;
    margin: 0 20px;
}

.iconHeader {
    width: 80px;
}

#content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    width: 100%;
    max-width: 1200px;
}
#contenedor {
    text-align: center;
    max-width: 1200px; /* Establecer un ancho máximo para el contenedor */
    margin: 0 auto; /* Centrar horizontalmente el contenedor */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: flex-start; /* Alinear los elementos al inicio del contenedor */
}
#caja1 {
    position: relative;
    top: 5px;
    grid-column: span 3; /* Hacer que la caja 4 ocupe todo el ancho del contenedor */
    align-self: center; /* Centrar verticalmente la caja 4 */
    text-align: center; /* Alinear el contenido de la caja 4 al centro */
    max-height: 5500px; /* Establecer una altura máxima para la caja 4 */
    border: rgba(0, 0, 0, 0) 5px inset;
    background-color: #ffffff00; /* Cambiar el color de fondo de la caja 4 */
}


#caja2, #caja3, #caja4 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: rgba(0, 0, 0, 0) 5px inset;
    padding: 10px; /* Añadir espaciado interno */
}

#caja5 {
    position: relative;
    grid-column: span 3; /* Hacer que la caja 4 ocupe todo el ancho del contenedor */
    align-self: center; /* Centrar verticalmente la caja 4 */
    text-align: center; /* Alinear el contenido de la caja 4 al centro */
    max-height: 10000px; /* Establecer una altura máxima para la caja 4 */
    border: rgba(0, 0, 0, 0) 5px inset;
    background-color: #ffffff00; /* Cambiar el color de fondo de la caja 4 */
}


#caja6 {
    grid-column: span 3; /* Hacer que la caja 5 ocupe todo el ancho del contenedor */
    align-self: center; /* Centrar verticalmente la caja 5 */
    text-align: center; /* Alinear el contenido de la caja 5 al centro */
    margin: 0 auto; /* Centrar horizontalmente la caja 5 */
    width: calc(100% - 20px); /* Hacer que la caja 5 ocupe todo el ancho menos el margen */
    max-height: 700px; /* Establecer una altura máxima para la caja 5 */
    background-color: #efeecb00; /* Cambiar el color de fondo de la caja 5 */
    border: rgba(0, 0, 0, 0) 5px inset;
}

#image-container {
    display: flex;
    justify-content: center;
}

#main-image {
    width: 300px;
    border-radius: 15px;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}


.auth-button {
    background-color: #206A01;
    color: white;
    padding: 10px 40px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #4CAF50;
}